.mapa{
    width:"1024px";
    height:"450px";
    style:"border: 0";

}


.contatos{
    background-image: url(../../../assets/parallax-imagem4.png);
    height: 100vh;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    Justify-content: space-around;
}
.contatos .titulo_contato{
    background-color: #604829;
    width: 500px;
    padding: 10px;
    left: 0;
    margin: auto;
    color: #ffffff;
    text-align: center;
  
}

.contatos .mapa{
    margin: auto;
    background-position: center;
    height: 50%;
    text-align: center;
}
.contatos .endereco{
    color: #fff;
    background-color: #604829;
    font-family: "Oswald", sans-serif;
    padding: 2%;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
    width: 50vw;
    margin: auto;
}

