
/* estilos para telas maiores */
@media (min-width: 768px) {
    .topo {
        height: 80px;
    }

    .topo img {
        width: 100px;
        height: 100px;
    }

    .topo .links {
        width: 400px;
    }

    .topo a {
        font-size: 18px;
    }
}

/* estilos para telas menores */
@media (max-width: 767px) {
    .topo {
        height: auto;
        padding: 10px;
    }

    .topo img {
        width: 80px;
        height: 80px;
    }

    .topo .links {
        width: auto;
        text-align: center;
    }

    .topo a {
        display: block;
        padding: 5px;
        font-size: 14px;
    }
}

.topo{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #604829;
    height: 80px;

}
.topo img{
    position: relative;
    left: 20%;
    top: -10%;
    width: 100px;
    height: 100px;
}

.topo .links{
    width: 400px;
    position: absolute  ;
    right: 0;
    bottom: 40%;

   }

.topo a{
    padding: 10px;
    color: #c4a47c;
    font-weight: bold;
    text-shadow: 3px 5px 2px #000000;
    font-size: 18px;
    font-family: "Oswald", sans-serif;   
    text-decoration: none;
}

/* Estilos para o menu sanduíche */
@media (max-width: 767px) {
    .topo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
        width: 30px;
        height: 30px;
        background-color: #c4a47c;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        
    }

    .menu-toggle:before, .menu-toggle:after, .menu-toggle div {
        content: "";
        background-color: #604829;
        height: 3px;
        width: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
    }

    .menu-toggle:before {
        top: 8px;
    }

    .menu-toggle:after {
        bottom: 8px;
    }

    .menu-toggle div {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .links {
        display: none;
        flex-direction: column;
        background-color: #604829;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        z-index: 2;
        text-align: center;
    }

    .links a {
        padding: 10px 0;
        color: #fff;
        border-bottom: 1px solid #c4a47c;
    }

    .links.open {
        display: flex;
    }
    .links.open {
        display: flex; /* O menu será exibido como flexbox quando aberto */
    }
}